<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

<!-- 	<title>Create New User</title>-->	
	<title>[[${pageTitle}]]</title>
	
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
</head>
<body>
<div class="container-fluid">
	<div>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/ShopmeAdminSmall.png}" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/categories}">Categories</a>
					</li>		
					<li class="nav-item">
						<a class="nav-link" th:href="@{/brands}">Brands</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/products}">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customers}">Customers</a>
					</li>					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shipping}">Shipping</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/orders}">Orders</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/report}">Sales Report</a>
					</li>	
					<li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">Articles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">Menus</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/settings}">Settings</a>
					</li>					
				</ul>
			</div>
			
		</nav>
	</div>
	<div>
		<h2>Manage Users | [[${pageTitle}]] User</h2>	
	</div>
	
	<!--  Enable the submition of the form depends on the return value of the checkEmailUnique(this) JS function at the bottom -->
	<form  onsubmit="return checkEmailUnique(this);" th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto"
		th:object="${user}"  >
		<!-- for the ajax call in edit mode: I need to have the hidden input for the user id  -->
		<input type="hidden" th:field="*{id}" id="id" />
	<div class="border border-secondary rounded p-3">
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">E-mail:</label>
			<div class="col-sm-8">
				<input type="email" class="form-control" th:field="*{email}" required minlength="8" maxlength="128"  name="email" id="email" />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">First Name:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45"  />
			</div>
		</div>		
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Last Name:</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45"  />
			</div>
		</div>		
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Password:</label>
			<div class="col-sm-8">
				<!-- Set the password required only for the new mode! -->
				<input type="password" class="form-control" th:if="${user.id == null}" th:field="*{password}" required minlength="8" maxlength="20"  />
				<input type="password" class="form-control" th:if="${user.id != null}" th:field="*{password}"  minlength="8" maxlength="20"  />
				
			</div>
		</div>		

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Roles:</label>
			<div class="col-sm-8">
				<th:block th:each="role : ${listRoles}">
				<input type="checkbox" th:field="*{roles}" 
					th:text="${role.name}"
					th:value="${role.id}"
					class="m-2"
				/>
				- <small>[[${role.description}]]</small>
				<br/>
				</th:block>
			</div>
		</div>		
		
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Enabled:</label>
			<div class="col-sm-8">
				<input type="checkbox" th:field="*{enabled}" />
			</div>
		</div>			
				
		<div class="text-center">
			<input type="submit" value="Save" class="btn btn-primary m-3" />
			<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
		</div>
	</div>
	</form>
	
	<div class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<!-- Set the id so the title can be updated in my JS code -->
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button type="button" class="modal-button" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
				<!-- Set the id so the message can be updated in my JS code -->
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="text-center">
		<p>Shopme Control Panel - Copyright &copy; Shopme</p>
	</div>
	
</div>
<script type="text/javascript">
//Required for string li
'use strict';
	$(document).ready(function() {
		$("#buttonCancel").on("click", function() {
			window.location = "[[@{/users}]]";
		});
	});
	
	
 
 const checkEmailUnique = function(form){
	 const url = "[[@{/users/check_email}]]";
	 const userEmail = $('#email').val(); 
	//The id is taken from the hidden input for edit mode!
	 const userId =  $('#id').val();
	 
	 
	 
	 const csrfVal = $("input[name='_csrf']").val(); 
	 
	 //console.log(`csrfVal = ${csrfVal}`); 
	 
	 
	 const params = {id:userId, email: userEmail , _csrf: csrfVal};
	//AJAX POST REQUEST - get called when the resopnse retrieved from the server 
	
	//Test the Modal: OK
	//$('#modalDialog').modal(); 
	
	
	//console.log(modal); 
	 $.post(url,params, function(response){
		 //alert(`id = ${userId}`);
		 if(response === "OK") 
		{
			 //showModalDialog('ok', 'user saved!');
			 //Disable form submition for testing
			 form.submit(); 
		}
		 else if(response === "Duplicated")
		{
			 
			showModalDialog('Warning', `There is another user having the email ${userEmail}`)
			 
			 //alert(`There is another user having the email ${userEmail}`); 
		}
		 else  showModalDialog('Error', "Unknown response from server"); 	 
	 } ).fail(function(){
		 showModalDialog('Error', "Could not connect to the server"); 	 
	 });

	 
	// console.log(`CLICKED`);
	 return false; 
	
 }
 
 const showModalDialog = function(title, message) {
	 //Select the Modal Title and set it's title and the message to the title paramter 
	 $('#modalTitle').text(title) ; 
	 
	 $('#modalBody').text(message); 
	 
	 $('#modalDialog').modal();
	 
	 
 }
	
</script>
</body>
</html>