<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<!-- <meta charset="UTF-8"> -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">


<title>Home - MyEbuy Admin</title>

<!-- Bootstrap & jQuery * Font-awesome  -->
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!-- Refer to the JS of Bootstrap  -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</head>


<body>
<div class="container-fluid">
<div class="navbar navbar-expand bg-dark navbar-dark">
<!-- '/' - Point to the homepage -->
<a class="navbar-brand" th:href="@{/}">
	<img th:src="@{/images/MyEbuyAdminSmall.png}" style="width:80px;height:80px;" />
</a>
	
	<!-- Enable expand/collapse the menu items -->
	<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
 -->
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
 <div class="collapse navbar-collapse" id="topNavbar"> 
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" th:href="@{/users}">Users</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/categories}">Categories</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/brands}">Brands</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/products}">Products</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/customers}">Customers</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" th:href="@{/shipping}">Shipping</a>
		</li>
		
		
		<li class="nav-item">
			<a class="nav-link" th:href="@{/orders}">Orders</a>
		</li>
		
		
		<li class="nav-item">
			<a class="nav-link" th:href="@{/reports}">Reports</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" th:href="@{/articles}">Articles</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" th:href="@{/menues}">Menus</a>
		</li>
		
		
		<li class="nav-item">
			<a class="nav-link" th:href="@{/settings}">Settings</a>
		</li>
		
	</ul>
</div>
</div>

<div>
<h2>Manage Users</h2>
<a th:href="@{/users/new}">Create new user</a>
</div>
<div th:if="${message != null}" class="alert alert-success text-center">
	[[${message}]]
</div>

<div>
	<table class="table table-bordered table-striped table-hover table-responsive-xl ">
		<thead class="thead-dark">
			<tr>
				<th>User ID</th>
			
				<th>Photos</th>
				
				<th>E-mail</th>
			
				<th>First Name</th>
			
				<th>Last Name</th>
			
				<th>Roles</th>
				
				<th>Enabled</th>
			
				<th></th>
			
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="user : ${listUsers}">
				<td>[[${user.id}]]</td>
				<td><span class="fas fa-portrait fa-3x icon-silver"></span></td>
				<td>[[${user.email}]]</td>
				<td>[[${user.firstName}]]</td>
				<td>[[${user.lastName}]]</td>
				<td>[[${user.roles}]]</td>
				<td>
					<a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green" 
					th:href="@{'/users/' + ${user.id} + '/enabled/false'}" title="Disable this user"></a>
					<a th:if="${user.enabled == false}" class="fas fa-check-circle fa-2x icon-dark" 
					th:href="@{'/users/' + ${user.id} + '/enabled/true'}" title="Enable this user"></a>
					
				</td>
				<td>
				<!-- Must set the href attribute for displaying the style of the icon
					UPDATE THE FRONT END ANGULARY FOR THIS URL??
					 -->
				<a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
					title="Edit this user">
					</a>
				&nbsp;
				<!-- add new css class for displaying the modal - link-delete -->
				<a class="fas fa-trash fa-2x icon-dark link-delete" th:href="@{'/users/delete/' + ${user.id}}" title="Delete this user"></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="text-center m-1">
	<span>Showing users # [[${startCount}]] to # [[${endCount}]] of [[${totalItems}]]</span>
</div>

<!-- TODO: Modal confirmodal -->

<div class="text-center">
	<p>MyEbuy Control Panel - Copyright &copy; MyEbuy</p>
</div>
</div>

<script type="text/javascript">
	
	$(document).ready(function(){
		//Select the element with class link-delete  - and add handler on the click event
		$(".link-delete").on("click", function(e){
			//Prevent the page to reload when click the link
			e.preventDefault();
			//Test if the element is the actual link for delete and check it's  href attribute - OK!!    :alert message /MyEbuyBackEnd/users/delete/4
			alert($(this).attr("href"));
		})
		
		
	});



</script>
</body>
</html>